<div class="container">
  <div class="content" *ngIf="isLoaded && !isTestFinished">
    <h2>Наскільки ти кіберспортивний експерт</h2>
    <h3>Запитання №{{currentQuestionNumber+1}}</h3>
    <form #ansForm="ngForm" (ngSubmit)="onSubmit(ansForm)">
      <p>{{currentQuestion.question}}</p>
      <p *ngFor="let q of currentQuestion.answers">
        <input required ngModel type="radio" [value]="q" name="answer">
        {{q}}
      </p>
      <div class="form-footer">
        <p>{{currentQuestionNumber+1}}/{{overllQuestions}}</p>
        <button type="submit" [disabled]="ansForm.invalid">Продовжити</button>
      </div>
    </form>
  </div>
  <div *ngIf="isTestFinished">
    Ти кіберспортивний експерт на {{correctAnswers}}/{{overllQuestions}}
  </div>
</div>
